<link rel="import" href="../bower_components/polymer/polymer.html"> 
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">


<dom-module id="rating-stars">
    <template>
        <style>
            :host {

            }
            iron-icon{
                fill: var(--star-fill-color, rgba(255,255,0,255));
                stroke: var(--star_stroke-color, rgba(0,0,0,255));
            }
            
        </style> 
        
        <!-- local DOM goes here -->
        <iron-icon icon="star"></iron-icon>
        <iron-icon icon="star"></iron-icon>
        <iron-icon icon="star"></iron-icon>
        <iron-icon icon="star"></iron-icon>
        <iron-icon icon="star"></iron-icon>
    </template>

    <script>
    Polymer({
        is: 'rating-stars',
        properties: {

        },
        listeners: {

        },
    });
    </script>
<dom-module>